html, body {
    width:  100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
}

canvas {
    display:block;
    margin:0 auto;
    
    /*border: 3px solid;
    border-color: black;*/
    background: #00BFFF;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
     image-rendering: optimizeSpeed;             /*// Older versions of FF*/
    image-rendering: -moz-crisp-edges;          /*// FF 6.0+*/
    image-rendering: -webkit-optimize-contrast; /*// Webkit (non standard*/ naming)
    image-rendering: -o-crisp-edges;            /*// OS X & Windows Opera*/ (12.02+)
    image-rendering: crisp-edges;               /*// Possible future browsers. */
    -ms-interpolation-mode: nearest-neighbor;   /*// IE (non standard naming)*/
}

#startpage {
    display:block;
    background: #88BFFF;
    /*top: 0; right: 0; bottom: 0; left: 0;*/
    position: absolute;
    width:100vw;
    height:100vh;
}

button.scene0 {
    background: #88BFFF;
    display: block;
    position:relative;
    top:50%;
    margin: auto;
}


