html, body {
  width:  100%;
  height: 100%;
  
}

canvas {
    display:block;
    margin:auto;
    font-family: cursive;
    border: 3px solid;
    border-color: black;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
